.calendar_widget {
  all: unset;
  border-radius: 10px;
  border: 2px solid $bg-alt;
  margin: 10px;
  font: 20px "VictorMono Nerd Font";
  font-weight: bold;
  padding: 10px;
  color: $color6;

  &.calendar-day-base {
    background: $color9;
  }

  &.view {
    background: $bg;
  }

  &.button {
    min-width: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: $bg-alt;
    color: $fg;
    border: 2px solid $bg-alt;
    margin: 5px;
  }

  &:selected {
    color: $color12;
    border-radius: 35px;
    font-weight: bold;
  }

  &.header {
    margin: 10px;
    border: none;
    padding: 10px;
    color: $fg;
    font-weight: bold;
  }

  &.highlight {
    border: 2px solid $color9;
    background: $color3;
    font-weight: bold;
    color: $bg;
    margin: 10px;
  }

  &:indeterminate {
    color: $bg-alt;
    border: 2px solid $bg-alt;
  }
}
