$bg: #101419;
$bg-alt: #1f2328;
$fg: #dee1e6;
$color1: #e05f65;
$color2: #e5646a;
$color3: #78dba9;
$color4: #94f7c5;
$color5: #f1cf8a;
$color6: #f6d48f;
$color7: #70a5eb;
$color8: #75aaf0;
$color9: #c68aee;
$color10: #cb8ff3;
$color11: #74bee9;
$color12: #79c3ee;
